DB_NAME=
DB_USER=
DB_PWD=
DB_HOST=
DB_PORT=
DB_DIALECT=

NODE_ENV=
PORT=
BYPASS_AUTH=

SECRET=

ADMIN_NOME=
ADMIN_EMAIL=
ADMIN_SENHA=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

FRONTEND_URL=
SECRET_CONVITE=
GOOGLE_CLIENT_ID=