NODE_ENV=
PORT=
BYPASS_AUTH=

SECRET=

ADMIN_NOME=
ADMIN_EMAIL=
ADMIN_SENHA=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

FRONTEND_URL=
SECRET_CONVITE=
GOOGLE_CLIENT_ID=
MONGODB_URI=
PUBLIC_BACKEND_URL=https://institutoesperancasitebackend.onrender.com


META_GRAPH_API_VERSION=v24.0
META_APP_ID=
META_APP_SECRET=
META_PAGE_ID=
META_INSTAGRAM_USER_ID=
META_PAGE_ACCESS_TOKEN=
META_CRON_SECRET=