footer {
  display: flex;
  padding: 100px 20% 150px 20%;
  row-gap: 100px;
  flex-wrap: wrap;
  background-color: white;
  z-index: 1000000;
  position: relative;
}

.secaoFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.secaoFooter h1 {
  margin-bottom: 10px;
}

.secaoFooter p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.secaoFooter strong {
  font-weight: 500;
}

.secaoFooter .sobreNos p {
  text-align: justify;
}

.secaoFooter .alinharRedesSociais {
  display: flex;
  align-items: center;
  gap: 5px;
}

.secaoFooter .alinharRedesSociais a {
  width: 50px;
  height: 50px;
}

.secaoFooter .alinharRedesSociais img {
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.15s;
}

.secaoFooter .alinharRedesSociais img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.secaoFooter .alinharInfoContato {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 0;
}

.secaoFooter .listaAtribuicoes {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.secaoFooter .listaAtribuicoes span {
  display: block;
}

.secaoFooter .listaAtribuicoes a,
.secaoFooter:nth-child(5) strong,
.alinharMencao .alinharMencaoContato strong{
  color: rgb(0, 60, 255);
}

.secaoFooter .listaAtribuicoes a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
}

.secaoFooter .listaAtribuicoes a:hover {
  text-decoration: underline;
}


.alinharMencao{
  margin-bottom: 15px;
}

.alinharMencao .alinharMencaoContato{
  display: flex;
  gap: 5px;
}

.alinharMencao .alinharMencaoContato strong,
.alinharMencao .alinharMencaoContato p{
  font-size: 0.8rem;
}


@media (max-width: 768px) {
  .tituloSeccao {
    font-size: 2rem;
  }

  .infoInstituto {
    padding-inline: 10%;
  }

  .alinharInfoContato p,
  .alinharInfoContato strong {
    font-size: 0.8rem;
  }

  .alinharInfoContato strong {
    font-weight: 700;
  }

  .sobreNos p {
    font-size: 0.8rem;
  }
  .contato {
    row-gap: 20px;
  }
}
